<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Are you hot?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Sexy wizards near by 👀</strong>
    <p>Somos heterosexuales</p>
    <p>Hahahaha</p>
    <p>Less than 1 km <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"></a></p>
  </div>
</ion-content>
