<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" id="title" #title>Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="avatar-container">
    <ion-avatar id="avatar" #avatar>
      <img alt="Logo"
        src="../../assets/img/Logo.png"/>
    </ion-avatar>
    <div id="text-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Login</ion-card-title>
        </ion-card-header>
        <ion-card-content>
              <ion-input id="user" style="text-indent:15px" [(ngModel)]="user.usuario" label="Nombre de Usuario" labelPlacement="floating"
                placeholder="Ingrese su Usuario"></ion-input>
              <ion-input id="password" style="text-indent:15px" [(ngModel)]="user.password" label="Contraseña" type="password" labelPlacement="floating"
                placeholder="Ingrese su Contraseña">
              </ion-input>
              <ion-toggle style="color: white;">Recuerdame</ion-toggle><br>
              <br>
              <ion-button (click)="enviarInformacion()" size="small" >
                Conectar
              </ion-button>
            <br>
            <div>
              <h3>{{mensaje}}</h3>
            </div>
            <a id="open-modal">Registrarse</a>
            <br><br>
            <a [routerLink]="['/forgot']"> Olvidaste tu contraseña?</a>
        </ion-card-content>
      </ion-card>
      <!-- Modal Section Begin -->
      <ion-modal trigger="open-modal">
        <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()"><ion-icon name="close-sharp"></ion-icon></ion-button>
                </ion-buttons>
                <ion-buttons slot="end" id="present-alert">
                  <ion-button (click)="confirm()" [strong]="true"><ion-icon name="checkmark-sharp"></ion-icon></ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-card style="border-radius: 70px;">
                <ion-card-header>
                  <ion-card-title style="width:140px;;">Sign Up</ion-card-title>
                </ion-card-header>
                <ion-card-content style="text-align: center;">
                  <ion-input style="text-indent:15px" [(ngModel)]="user.usuario" label="Nombre Usuario" labelPlacement="floating"
                    placeholder="Ingrese su Usuario"></ion-input>
                  <ion-input style="text-indent:15px"[(ngModel)]="user.password" label="Contraseña" type="password" labelPlacement="floating"
                    placeholder="Ingrese su Contraseña"></ion-input>
                  <ion-label>{{estado}}</ion-label>
                </ion-card-content>
              </ion-card>
            </ion-content>              
        </ng-template>
      </ion-modal>
      <!-- Modal Section End -->
    </div>
  </div>
</ion-content>