<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" id="title" #title>Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="avatar-container">
    <ion-avatar id="avatar" #avatar>
      <img alt="Logo"
        src="../../assets/img/Logo.png"/>
    </ion-avatar>
    <div id="text-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Login</ion-card-title>
        </ion-card-header>
        <ion-card-content>
              <ion-input style="text-indent:15px" [(ngModel)]="user.usuario" label="Nombre de Usuario" labelPlacement="floating"
                placeholder="Ingrese su Usuario"></ion-input>
              <ion-input style="text-indent:15px" [(ngModel)]="user.password" label="Contraseña" type="password" labelPlacement="floating"
                placeholder="Ingrese su Contraseña">
              </ion-input>
              <ion-toggle>Recuerdame</ion-toggle><br>
              <br>
              <ion-button (click)="enviarInformacion();playAnimation()" [routerLink]="['/init']" size="small" >
              Conectar
            </ion-button>
            <br>
            <div>
              <h3>{{mensaje}}</h3>
            </div>
            <a [routerLink]="['/forgot']"> Olvidaste tu contraseña?</a>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>