<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" id="title" #title>Reestablecer Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

    <div id="text-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title >Reestablecer<br> Contraseña</ion-card-title>
        </ion-card-header>
        <ion-card-content>
              <ion-input [(ngModel)]="user.usuario" label="Nombre de Usuario" labelPlacement="floating"
              placeholder="Ingrese su Usuario"></ion-input>
              <ion-input [(ngModel)]="user.password" label="Introduce tu nueva contraseña" type="password" labelPlacement="floating">
              </ion-input>
            <ion-button (click)="enviarInformacion()" [routerLink]="['/home']" size="small" >
              Reestablecer
            </ion-button>
            <br>
            <div>
              <h3>{{mensaje}}</h3>
            </div>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>