ion-content{
    --ion-background-color:white;
  }
  
  ion-toolbar {
    --background: #3AAFB9;
    text-align: center;
    height: fit-content;
  }
  
  ion-label{
    color:black;
    font-weight: 500;
    --ion-color-success:#3AAFB9;
  }

  ion-title{
    text-indent: -30px;
  }
  
  #welcome{
    padding-top: 25px;
    text-indent: 40px;
  }

  ion-item{
    margin-left: 10%;
    margin-right: 10%;
    text-indent: 10px;
    --background: #3AAFB9;
    --border-color:var(--background);
  }

  ion-button{
    --background: #3AAFB9;
    --background-hover: #64E9EE;
    --color: white;
    --font-weight: 500;
  }
