<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" id="title" #title>Viaje</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="volver()"></ion-back-button>
      </ion-buttons>
      <ion-title>Ruta de Viaje</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="welcome">
    <ion-label>Hola {{user.usuario}}!</ion-label>
    <p style="color: black"> Esta es tu ubicacion actual:</p>
  </div>
  <div>

    <div class="page-container">
      <capacitor-google-map id="map" #map></capacitor-google-map>
    </div>
    
    <ion-grid>
    </ion-grid>

