<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" id="title" #title>Viaje</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-header>
      <ion-toolbar>
        <ion-buttons>
          <ion-button (click)="volver()"><ion-icon style="width: 20px; height: 20px;" name="arrow-back-sharp"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
      <div id="welcome">
        <ion-label>Hola usuario: {{user.usuario}}!</ion-label>
        <p style="color: black"> ¿A donde vamos hoy?</p>
      </div>
      <ion-grid>
      </ion-grid>
